@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dela+Gothic+One&family=Merriweather:wght@300&display=swap');

body{
    background-image: url('src/assets/bg.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}